envparse
python-dotenv

jupyterlab
numpy
pandas
matplotlib
scikit-learn
seaborn

nltk
gensim

catboost
lightning
lightgbm
xgboost

shap
ipywidgets

statsmodels

torch
torchvision
torchsummary

torchtext

opencv-python
nbconvert
Pillow

hyperopt

bokeh
razdel

lxml